
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* shared style */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}
.bg-light{
    background-color: #1A0B2E;
}
.btn-nav{
    background: linear-gradient(90deg , #F7E93F 0% , #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 10000px;
}
/* header style */
.navbar , .banner{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;  
        
    
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}

.logo-color{
    background: linear-gradient(90deg, #F7E93F 0%  , #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    color: #FFFFFF;
}

.hamburger-icon{
    color: #FFFFFF;
    display: none;
}



/* hero section style */




















/* Media section */
@media screen and (max-width:576px) {
    .menu-container{
        display: none;
    }

    .hamburger-icon{
    color: #FFFFFF;
    display: inline;
    margin-right: 10px;
}

.btn-nav{
    display: none;
}
    
}