
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* shared style */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}
.bg-light{
    background-color: #1A0B2E;
}
.btn-nav{
    background: linear-gradient(90deg , #F7E93F 0% , #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 10000px;
}
/* main{
    max-width: 1200px;
    margin: 0 auto;
} */
main>section{
    margin-top: 80px;
}
.section-heading{
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* header style */
.navbar , .banner{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;  
        
    
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}

.logo-color{
    background: linear-gradient(90deg, #F7E93F 0%  , #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    color: #FFFFFF;
}

.hamburger-icon{
    color: #FFFFFF;
    display: none;
}



/* hero section style */


/* about section style */

.about{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
}
.about-description{
    color: #FFFFFF;
}
.about-container{    
    text-align: center;
}
.rating-card{
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 80px;
}
.description-gap{
    margin-top: 30px;
    color: #FFFFFF;
}



.number{
    font-size: 3rem;
    font-weight: 600;
    color: #00FF88;
}
.name{
    color: #FFFFFF;
    margin-top: 10px;
}
.feture-section{
    background-color: #230E3D;
    padding: 40px 0;
    /* text-align: center; */
     
     
}

.all-box{
    max-width: 1200px;
    margin: 40px auto;   
    min-height: 400px;
    
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 180px);
    gap: 30px;
    border-radius: 40px;
    
    
    
}
.feture-head{
    padding-top: 80px;
    padding-left: 450px;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 15px;
}
.content-center{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    background-color: rgba(53, 17, 101, 0.4);
}

.box-1{    
    grid-row: 1/3 ;
    border-radius: 40px;
    
    
}
.box-2 {
    grid-column: 2/4;
    border-radius: 40px;
}
.box-3{
    grid-column: 2/4;
    border-radius: 40px;
}
.box-4{
    grid-column: 1/3;
    border-radius: 40px;
}
.box-5{
    grid-column: 3/4;
    border-radius: 40px;
}

.host-section{
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
   
}
.all-item{
    display: flex;
    background-color: rgba(53, 17, 101, 0.4);
}
.host-pic{
    margin: 40px;
}
.host-name{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.host-introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.host-description{
    color: #FFFFFF;
    align-items: center;
}
.all-icon{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    
    
    
}
    

















/* Media section */
@media screen and (max-width:576px) {
    .menu-container{
        display: none;
    }

    .hamburger-icon{
    color: #FFFFFF;
    display: inline;
    margin-right: 10px;
}

.btn-nav{
    display: none;
}
.rating-card{
    grid-template-columns: repeat(2 , 1fr);
}
.all-box{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5{
    grid-column: auto;
    grid-row: auto;
  }
  .feture-head{
    padding-top: 0px;
    padding-left: 40px;
}

.all-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.host-introduction{
    align-items: center;
}
.host-description{
    color: #FFFFFF;
    align-items: center;
}


    
}